/*body*/
body {
  font-family: 'Roboto';
  background-color: #121212;
  color: #d3d3d3;
}

/*headers*/
h1 {
	margin-left: 5%;
}

/*links*/
a {
	color: white;
}

a:hover {
  color: pink;
}

a:visited {
	color: white;
}

/*lists*/
